
<section id="main">
  <div class="container">
    <video class="video" autoplay playsinline muted loop>
      <source [src]="vidLink" type="video/mp4" />
    </video>
  </div>

  <div class="page-content">
    <!-- <h1>Quality Content About Web Development</h1>
     <h3>
       Please subscribe <span>Codersbite</span> and dont miss our new
       tutorials.
     </h3>
     <span
     ><a
       href="https://www.youtube.com/channel/UC8c4OFeOvNGmUlHLfQb9TVg"
       target="_blank"
     >Subscribe Now</a
     ></span
     >
     -->
    <app-count-down-timer></app-count-down-timer>
  </div>
</section>
